.wrapper {
  background-color: grey;
  width: 100vw;
  height: 100vh;
}

.container {
  display: flex;
  gap: 1rem;
  padding: 2rem;
  text-align: center;
}

.box1,
.box2,
.box3,
.box4,
.box5,
.box6,
.box7,
.box8,
.box9,
.box10 {
  width: 300px;
  height: 300px;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 1.2rem;
}

.box1 {
  background-color: green;
}

.box2 {
  background-color: blue;
}

.box3 {
  background-color: orange;
}

.box4 {
  background-color: pink;
}

.box5 {
  background-color: yellow;
}
